{% if interface is defined %}
{% for i in interface %}
interface {{ i }}
{% if _i['ip'] is defined %}
ip address {{ _i['ip'] }} {{ _i['mask'] }}
{% endif %}
no shutdown
{% if _i['uplink'] is True %}
switchport mode trunk
{% endif %}

{% if _i['uplink'] not False %}
switchport mode access vlan {{ _i['VLAN'] }}
{% endif %}

{% endfor %}
{% endif %}